footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-menu li {
  margin-right: 20px;
}

main {
  position: relative;
  width: 100%;
  height: 500px;
}

.main-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: right;
  font-family: 'droid-sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  min-height: 100vh; /* Use full viewport height */
  pointer-events: none;
}

h1 {
  margin: 10px 0;
  color: white;
  font-size: 60px;
  display: block;
}

.portret {
  position: absolute;
  top: 10%;
  left: 63%;
}

body {
  background-color: black;
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 40px 0;
}

.nav-link,
.nav-link-active {
  color: white;
}

.nav-link:hover,
.nav-link-active:hover {
  color: gray;
}

h5,
h6 {
  color: white;
}

.bio {
  position: absolute;
  top: 30%;
  left: 13%;
  right: 30%;
}

.copyrigth {
  color: grey;
}
.copyrigth:hover {
  color: darkgray;
}

a {
  text-decoration: none;
  color: inherit;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.icon {
  padding-right: 15px;
}

.container.gallery-container {
  /* background-color: #212427; */
  color: #212427;
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 3px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}

.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(128, 128, 128, 0.4);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}

p {
  font-family: 'Montserrat', sans-serif;
}

.video {
  top: 10%;
  left: 30%;
  right: 28%;
  transform: translate(0);
  position: absolute;
}

.videocontainer {
  margin-bottom: 60px;
}

.hover-underline-animation {
  position: relative;
  display: inline-block;
  pointer-events: auto;
  text-align: right;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
